<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>Abhay Sahu</h2>
          <h4>sahua545@gmail.com</h4>
      </div>
      <img src="https://scontent.fdel29-1.fna.fbcdn.net/v/t1.0-9/p960x960/43753399_1041469289356566_7473488578190770176_o.jpg?_nc_cat=102&_nc_ohc=ubfnQt36UG0AQlD7UeZsYnPD7E39tzTrmIUjIpEkRKWH18J8e1--sGLpA&_nc_ht=scontent.fdel29-1.fna&oh=8fbf032c88cc84a6e305ac646cf4c663&oe=5EA51D58" alt="Soufiane FADIL">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>import_contacts</mat-icon>
      Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>contact_phone</mat-icon>
      Leads
  </a>

</mat-nav-list>